<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>修改密码</title>
    <head th:insert="~{import :: head}"></head>
    <head th:insert="~{import :: markdown}"></head>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>我的头像：</h3>
            <div class="mod-basic-img">
                <img alt="" th:src="${myavl2}" width="250px" height="250px">
                <div class="editormd-dialog-container">
                    <form action="/file/uploadhead" method="post" enctype="multipart/form-data">
                        <div class="editormd-file-input">
                            <input type="file" name="editormd-image-file" accept="image/*">
                            <input type="submit" value="本地上传"></div>
                        <input type="submit">
                    </form>
                </div></div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h2>修改密码</h2>
            <hr>

            <form action="/password" method="post">
                <div class="form-group">
                    <label for="username">用户名:</label>
                    <input type="text" readonly="readonly" class="form-control" th:value="${myusername2}" id="username" name="username"
                           placeholder="用户名……"
                           autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password">新密码:</label>
                    <input type="password" class="form-control" th:value="${newpassword}" id="password" name="password" autocomplete="off">
                </div>

                <div class="form-group">
                    <label for="password2">再次输入新密码:</label>
                    <input type="password" class="form-control" th:value="${newpassword2}" id="password2" name="password2" autocomplete="off">
                </div>


                <div class="container-fluid main ">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                 th:text="${passworderror}"
                                 th:if="${passworderror != null}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish ">
                                    确定修改
                                </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>

    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>

</html>
